extends layout

block content

  include navigation

  section.login.white

    .center

      h1.title=page.title
      p.description=page.description

      if error.message
        p.fail
          strong=error.message
      else
        p
          strong Please log in to continue:

      form(action='/login' method='post')

        fieldset
          span.right
            i(class='icon-user')
          span.left
            input(
              type='text'
              name='username'
              placeholder='Username'
            )

        fieldset
          span.right
            i(class='icon-lock-open-alt')
          span.left
            input(
              type='password'
              name='password'
              placeholder='Password'
            )

        fieldset
          button.submit(type='submit' value='Login') Login
            i.icon-login
