extends layout

block content

  include navigation

  script(src='/search.js')

  header.search.white

    .center

      h1.title=page.title
      p.description=page.description

      form(action='search')

        fieldset.main
          span.right
            button.submit(type='submit') Search
              i.icon-search.loading
          span.left
            input(
              type='search'
              name='query'
              placeholder='Start searching'
              value=(query.query ? query.query : '')
            )

        fieldset.options.type
          strong Type:
          div
            input(
              type='radio'
              name='type'
              value='match'
              checked=(query.type === 'match' ? 'checked' : '')
            )
            label Standard
          div
            input(
              type='radio'
              name='type'
              value='custom'
              checked=(query.type === 'custom' ? 'checked' : false)
            )
            label Custom
          div
            input(
              type='radio'
              name='type'
              value='fuzzy'
              checked=(query.type === 'fuzzy' ? 'checked' : false)
            )
            label Fuzzy
          div
            input(
              type='radio'
              name='type'
              value='regexp'
              checked=(query.type === 'regexp' ? 'checked' : false)
            )
            label Regex

        fieldset.options.sort
          strong Sort:
          div
            input(
              type='radio'
              name='sorting'
              value='date'
              checked=(query.sorting === 'date' ? 'checked' : '')
            )
            label Date
          div
            input(
              type='radio'
              name='sorting'
              value='relevance'
              checked=(query.sorting === 'relevance' ? 'checked' : false)
            )
            label Relevance

  section.result.center
    block result
