extends layout

block content

  script(src='/search.js')

  section.search

    nav.user
      i(class='icon-user')
      span #{user.displayName} (<a href="/logout">Log out</a>)

    div.center

      h1=page.title
      p=page.description

      form(action='search')

        fieldset
          input.input(
            type='search'
            name='query'
            autofocus=''
            placeholder='Start searching'
            value=(query.query ? query.query : '')
          )
          button.submit(type='submit')
            span Search
              i.icon-search

        fieldset.options.type
          strong Type:
          div
            input(
              type='radio'
              name='type'
              value='match'
              checked=(query.type === 'match' ? 'checked' : '')
            )
            label Standard
          div
            input(
              type='radio'
              name='type'
              value='custom'
              checked=(query.type === 'custom' ? 'checked' : false)
            )
            label Custom
          div
            input(
              type='radio'
              name='type'
              value='fuzzy'
              checked=(query.type === 'fuzzy' ? 'checked' : false)
            )
            label Fuzzy
          div
            input(
              type='radio'
              name='type'
              value='regexp'
              checked=(query.type === 'regexp' ? 'checked' : false)
            )
            label Regex

        fieldset.options.sort
          strong Sort:
          div
            input(
              type='radio'
              name='sorting'
              value='date'
              checked=(query.sorting === 'date' ? 'checked' : '')
            )
            label Date
          div
            input(
              type='radio'
              name='sorting'
              value='relevance'
              checked=(query.sorting === 'relevance' ? 'checked' : false)
            )
            label Relevance

  section.result.center
    block result
